.footer-header{
    margin-top: 40%;
    margin-left: 40%;
    color: rgb(245, 146, 16);
}
hr{
    color: aliceblue;
   height: 2px;
   margin-top: 10%;
}
.header p{
    color: aliceblue;
    margin-left: 40%;
    margin-bottom:10%;
}